@import "../../sass/variables";

.home-body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  .home-body-title {
    color: $mainColorPrimary;
  }
  .home-body-title-dark {
    color: $basicColorPrimary;
  }
}

.home-body-container-dark {
  background-color: lighten($basicColorSecondary, $amount: 10);
}
